#root{
  margin: auto;
  text-align: center;
  width: 1024px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.news li {
  border: 3px solid black;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}